.navbar {
    background-color: cornflowerblue !important;
}
.fa-shopping-cart{
    font-size: 32px !important;
}
.fa-user-circle-o{
    font-size: 32px !important;
}

.Support{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.card1, .card2, .card3{
    display: flex;
    width: 300px;
    height:100px;
    background-color: white ;
    box-shadow: 2px 4px 5px gray;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}
.fa-truck{
    font-size: 42px !important;
    margin-right: 10px;
}


.fa-headphones{
    font-size: 42px !important;
    margin-right: 10px;
}
.fa-money{
    font-size: 42px !important;
    margin-right: 10px;
}
   
    .cardA,.cardB,.cardC,.cardD{
        width: 200px;
        height: 30% !important;
        margin-top: 30px;

    }
    .card-text{
        font-weight: bold;

    }
.heading{
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 4px gray;
    margin-top: 30px;
}
.footer{
    width: 100%;
    background-color: lightgray;
    height: 30px;
    text-align: center;
    justify-content: center;
}

    @media screen and (max-width: 600px){
        .card1,.card2,.card3 {
        width: 100%;    
        
        }
    }